{% from 'commons/head.html' import head %}
{% from 'commons/svg-button.html' import svg_button %}

<html>
  <head>
    {{ head(title='Pandas profiling Webapp') }}
  </head>
  <body>
    {% include 'commons/header.html' %}
    <div class="vertical-center">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            {{ svg_button(svg_path='img/spreadsheet.svg', text='Charger depuis un fichier', href='/load-file') }}
          </div>
          <div class="col">
            {{ svg_button(svg_path='img/database.svg', text='Charger depuis Oracle', href='/connect-oracle') }}
          </div>
        </div>

        {% include 'commons/messages.html' %}
      </div>
    </div>
  </body>
</html>
