{% from 'commons/head.html' import head %}

<html>
  <head>
    {{ head(title='Rapports générés') }}
  </head>
  <body>
    {% include 'commons/header.html' %}
    <div class="vertical-center">
      <div class="container">
        <h2 class="mb-5">Liste des rapports générés</h2>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nom du rapport</th>
              <th scope="col">Dernière mise à jours</th>
            </tr>
          </thead>
          <tbody>
            {% for file in files %}
            <tr
              class="clickable"
              onclick="window.location='/reports?name={{file.path}}'"
            >
              <th scope="row">{{ file.path }}</th>
              <td>{{ file.last_update }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script>
      $(document).ready(function ($) {
        $(".table-row").click(function () {
          window.document.location = $(this).data("href");
        });
      });
    </script>
  </body>
</html>
