{% from 'commons/head.html' import head %}
<html>
  <head>
    {{ head(title='Pandas profiling Webapp') }}
  </head>
  <body>
    {% include 'commons/header.html' %}
    <div class="vertical-center">
      <div class="container">
        <h2 class="mb-5">Charger depuis un fichier CSV ou Excel</h2>
        <hr />

        <form action="/load-file" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <div class="col-sm-5">
              <input
                class="form-control"
                type="file"
                name="file-upload"
                id="file-upload"
                required
              />
            </div>
          </div>
          <input 
            onclick="show_load();"
            type="submit" 
            value="Charger le fichier" 
            class="btn btn-secondary mb-2"
          />
        </form>

        
        {% include 'commons/messages.html' %}
      </div>
    </div>

    {% include 'commons/load.html' %}
  </body>
</html>
